<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active">
          Contact
        </a>
      </li>
    </ul>
    <ng-container
      *remoteComponentRenderer="'app-clock'; manifest:'http://localhost:4300/manifest.json'; moduleFile:'mf1.js'">
    </ng-container>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
