
:host {
  display: block;
}

nav {
  padding: 0 4rem;
  background: #4b5662;

  ul {
    display: flex;
    margin: 0 -1rem;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 300;
    color: white;

    > li {
      flex: 0 0 auto;

      > a {
        display: block;
        padding: 2rem 1rem;

        &:hover {
          cursor: pointer;
          text-decoration: none;
          color: white;
          background: #6f7c8b;
        }
      }
    }
  }
}

main {
  padding: 4rem;
}
